/*---------------------*/
/* 01 - RESET*/
/*--------------------*/
*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}
/*---------------------*/
/* 02 - FONTS*/
/*--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
/*---------------------*/
/* 03 - VARIABLES */
/*--------------------*/
:root {
    --color-1 : #fff9;
    --color-2:  #0009;
    --font-bd: Poppins, sans-serif;
}
/*---------------------*/
/*04 - GENERAL */
/*--------------------*/
body{
    font-family: var(--font-bd);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    nav {
        position: fixed;
        top: 10px;
        left: 10px;
        a:is(:link, :visited) {
            background-color: var(--color-1);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            height:40px;
            opacity: .8;
            transition: all 0.2s ease;
            width: 40px;
            svg{
                width: 24px;
            }
        }
        a:is(:hover) {
            opacity: 1;
            transform: scale(1.12);
        }
    }
    main {
        header { 
            display: flex;
            justify-content: center;
            gap: 0.6rem;
            flex-direction: column;
            align-items: center;
            h1 {
                font-size: 3rem;
                font-weight: 400; 
                display: flex;
                gap: 0.6rem;
                span {
                    border-radius: 50px;
                    background-color: var(--color-2);
                    color: var(--color-1);
                    font-size: 1.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    width: 50px;
                }
            }
            h2 {
                font-size: 1.4rem;
                font-weight: 600;
            }
            h3 {
                font-size: 1rem; 
                font-weight: 400;
                border-radius: 50px;
                background-color: var(--color-2);
                color: var(--color-1);
                padding: 8px 16px;
            }
            p {
                color: rgba(241, 240, 240, 0.966);
                margin: 0 aouto;
                width: 80%;
            }
            img {
                border-radius: 50%;
                border: 10px solid var(--color-2);
                height: 200px;
                object-fit: cover;
                width: 200px;
                object-fit: cover;
            }
        }
        section {
            padding: 1rem;
            h3{
                border-bottom: 2px dotted var(--color-2);
            }
            p {
                font-size: 1.6rem;
                margin-bottom: 0.6rem;
                svg {
                    width: 40px;
                }
                
            }
            xmp {
                color: #fff9;
                margin-top: 0.6rem;
                border-radius: 5px;
                padding: 0 0.6rem 0.6rem;
                background-color: #0006;
            }
        }
        menu { 
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            justify-content: center;
            gap: 1rem;
            a:is(:link, :visited) {
                border-radius: 50px;
                background: linear-gradient(to right, rgba(204, 193, 201, 0.8) , rgba(218, 186, 101, 0.164));
                color: var(--color-2);
                display: flex;
                align-items: center;
                padding: 0.6rem;
                text-decoration: none;
                transition: all 0.4 ease-in;
                gap: 0.6rem;
                width: 240px;
            }
            a:is(:hover) {
                background-color: #fff;
                transform: scañe(1.05) translateY (-4px);
            }
            span {
                border-radius: 20px;
                background-color: var(--color-2);
                color: var(--color-1);
                font-weight: 600;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 28px;
            }

        }
        section {
            background-color: var(--color-1);
            border-radius: 4px;
            margin-block: 1rem;
            min-height: 25vh;
            min-width: 400px;
            width: 400px;
        }
    }
}
/*---------------------*/
/*05 MAIN MENU */
/*--------------------*/
body.main-menu { 
    background-color: #C710DC;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23ECE93C'/%3E%3Cstop offset='1' stop-color='%23C710DC'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23daa5a1'/%3E%3Cstop offset='1' stop-color='%23C710DC'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(920 0)'%3E%3Cg transform='translate(0 705)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-39.6 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.3' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/*---------------------*/
/*06 EMMET MENU */
/*--------------------*/
body.emmet {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1022%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(13%2c 101%2c 44%2c 1)'%3e%3c/rect%3e%3cpath d='M387.06 0C408.75 5.42 402.68 35 420 35C439.15 35 435.71 6.07 460 0C505.71 -11.43 510 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C910 0 910 0 980 0C1045.94 0 1050.1 -6.87 1111.88 0C1120.1 0.91 1113.32 15.56 1120 15.56C1133.85 15.56 1135.17 1.98 1152.94 0C1205.17 -5.8 1206.47 0 1260 0C1330 0 1330 0 1400 0C1470 0 1505 -35 1540 0C1575 35 1540 70 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 490 1575 525 1540 560C1505 595 1470 560 1400 560C1330 560 1330 560 1260 560C1190 560 1190 560 1120 560C1097.3 560 1094.83 568.58 1074.59 560C1024.83 538.92 1024.6 500.68 980 500.68C944.9 500.68 952.91 544.02 915.19 560C882.91 573.68 877.6 560 840 560C770 560 770 560 700 560C630 560 630 560 560 560C490 560 490 560 420 560C350 560 350 560 280 560C210 560 210 560 140 560C70 560 35 595 0 560C-35 525 0 490 0 420C0 350 0 350 0 280C0 210 0 210 0 140C0 70 -35 35 0 0C35 -35 70 0 140 0C210 0 210 0 280 0C333.53 0 338.75 -12.08 387.06 0' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 122.81C550.84 122.81 545.37 130.91 545.37 140C545.37 150.9 550.14 162.79 560 162.79C575.6 162.79 596.3 150.32 596.3 140C596.3 130.33 576.3 122.81 560 122.81' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 102.25C956.05 102.25 934.59 120.08 934.59 140C934.59 161.66 955.73 185.41 980 185.41C1008.44 185.41 1040 161.41 1040 140C1040 119.83 1008.75 102.25 980 102.25' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 96.44C1360.76 96.44 1306.67 120.17 1306.67 140C1306.67 159.15 1359.01 174.39 1400 174.39C1416.94 174.39 1422.53 157.77 1422.53 140C1422.53 118.8 1418.69 96.44 1400 96.44' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 341.03C809.83 341.03 777.14 382.61 777.14 420C777.14 452.29 809.58 480.39 840 480.39C868.51 480.39 895 451.99 895 420C895 382.31 868.76 341.03 840 341.03' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1120 370.22C1096.06 370.22 1075.2 392.61 1075.2 420C1075.2 457.5 1095.35 500 1120 500C1146.47 500 1177.44 456.62 1177.44 420C1177.44 391.73 1147.18 370.22 1120 370.22' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 413.78C1394.57 413.78 1388.8 415.21 1388.8 420C1388.8 429.09 1394.9 441.54 1400 441.54C1404.88 441.54 1408.75 429.5 1408.75 420C1408.75 415.62 1404.55 413.78 1400 413.78' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140 72C93.66 31.52 39.2 19.85 39.2 0C39.2 -16.15 89.6 0 140 0C210 0 210 0 280 0C312.94 0 319.38 -14.91 345.88 0C389.38 24.47 380.88 41.56 420 78.75C454.51 111.56 462.67 104 493.13 140C532.67 186.72 513.66 209.18 560 244.19C606.32 279.18 634.48 246.76 678.46 280C704.48 299.67 693.04 314.27 700 350C706.67 384.27 705.71 385 705.71 420C705.71 455 724.33 479.04 700 490C651.48 511.86 622.28 466.25 560 485.63C509.78 501.25 522.08 534.99 475 560C452.08 572.18 447.5 560 420 560C379.48 560 372.43 575.76 338.95 560C302.43 542.82 304.18 494.12 280 494.12C260.34 494.12 278.75 547.07 251.28 560C208.75 580.01 195.64 560 140 560C70 560 38.06 591.94 0 560C-31.94 533.19 -8.58 497.79 0 442.5C2.28 427.79 21.72 431.96 21.72 420C21.72 406.06 2.69 408.05 0 390.7C-8.17 338.05 0 335.35 0 280C0 228.26 -29.6 194.42 0 176.52C40.4 152.09 76.68 206.94 140 195.35C176.43 188.68 199.5 169.2 199.5 140C199.5 107.53 173.81 101.52 140 72' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 61.4C527.8 39.95 510 18.82 510 0C510 -11.88 535 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C910 0 910 0 980 0C1020.58 0 1061.16 -13.89 1061.16 0C1061.16 17.57 1019.99 30.72 980 62.92C933.06 100.72 922.96 93.36 887.3 140C852.96 184.93 874.77 246.06 840 246.06C792.79 246.06 783.12 191.04 723.33 140C713.12 131.28 712.13 132.38 700 126.54C630.46 93.08 622.8 103.22 560 61.4' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1102.5 140C1114.68 129.57 1108.54 112.78 1120 112.78C1136.89 112.78 1140.72 124.94 1159.2 140C1210.72 182 1201.38 203.58 1260 226.9C1321.78 251.48 1344.18 259.71 1400 235.79C1445.56 216.26 1462.76 189.51 1462.76 140C1462.76 80.95 1440 69.84 1400 18.67C1385.28 -0.16 1353.33 4.84 1353.33 0C1353.33 -4.49 1376.66 0 1400 0C1423.34 0 1424 -4.53 1446.67 0C1494 9.47 1518.29 -4.57 1540 28C1564.95 65.43 1540 84 1540 140C1540 208.57 1543.48 210.96 1540 277.14C1539.8 280.96 1536.27 278.47 1532.63 280C1466.27 307.9 1466.02 307.31 1400 336C1329.7 366.54 1325.25 408.61 1260 398.46C1185.25 386.83 1184.43 286.99 1120 292.44C1057.03 297.76 1063.9 357.56 1005.2 420C993.9 432.02 992.3 441.36 980 441.36C968.45 441.36 965.98 432.9 957.5 420C912.95 352.22 867.37 334.69 873.94 280C878.62 241.04 930.8 262.84 980 232.7C1045.08 192.84 1044.68 189.53 1102.5 140' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M420 246.52C381.8 246.52 343 260.4 343 280C343 301.2 382.03 328.13 420 328.13C455.53 328.13 490 301.33 490 280C490 260.52 455.3 246.52 420 246.52' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1518.13 420C1518.13 362.62 1534.49 303.33 1540 303.33C1545.42 303.33 1540 361.67 1540 420C1540 449.17 1545.29 478.33 1540 478.33C1534.35 478.33 1518.13 450.12 1518.13 420' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M746.67 560C746.67 557.25 795.33 549.02 840 549.02C847.18 549.02 850.37 556.74 850.37 560C850.37 562.23 845.18 560 840 560C793.34 560 746.67 562.74 746.67 560' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M280 123.53C246.75 123.53 184.55 38.33 184.55 0C184.55 -23.44 232.27 0 280 0C292.36 0 304.71 -10.13 304.71 0C304.71 51.64 306.83 123.53 280 123.53' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M303.33 140C303.33 128.15 364.13 122.5 420 122.5C432.91 122.5 440.9 129.82 440.9 140C440.9 153.79 436.12 170.43 420 170.43C367.34 170.43 303.33 152.11 303.33 140' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 59.23C632.15 25.3 560 15.42 560 0C560 -14.2 630 0 700 0C770 0 770 0 840 0C910 0 910 0 980 0C995.21 0 1010.43 -5.21 1010.43 0C1010.43 6.59 994.88 11.38 980 23.6C909.66 81.38 914.16 130.56 840 140C774.16 148.38 772.15 95.3 700 59.23' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1502.99 140C1502.99 112.32 1529.85 86.33 1540 86.33C1548.36 86.33 1540 113.16 1540 140C1540 172.86 1548.62 205.71 1540 205.71C1530.11 205.71 1502.99 172.01 1502.99 140' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 252.61C58.69 251.24 70.23 263.85 140 276.74C144.35 277.54 146.03 276.22 148.24 280C188.03 347.85 220.61 348.68 224 420C227.26 488.68 198.37 498.62 161.54 560C156.37 568.62 150.77 560 140 560C70 560 50.26 579.74 0 560C-19.74 552.24 -13.03 527.23 0 505C28 457.23 82.07 465.17 82.07 420C82.07 367.32 33.84 367.03 0 309.3C-7.2 297.03 0 294.65 0 280C0 266.31 -11.31 252.87 0 252.61' stroke='rgba(3%2c 14%2c 25%2c 0.74)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1022'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}